/* fugaz-one-regular - latin */
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: url('ttf/fugaz-one-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fugaz One'), local('FugazOne-Regular'),
       url('ttf/fugaz-one-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ttf/fugaz-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('ttf/fugaz-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('ttf/fugaz-one-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('ttf/fugaz-one-v6-latin-regular.svg#FugazOne') format('svg'); /* Legacy iOS */
} 